{% extends 'base.html.twig' %}

{% block title %}Editar Perfil{% endblock %}

{% block body %}
    <link rel="stylesheet" href="{{ asset('css/editar_perfil.css') }}">

    <div class="container">
        <h1>Editar Perfil</h1>

        <form method="POST">
            <label for="nombre_usuario">Nombre de Usuario:</label>
            <input type="text" id="nombre_usuario" name="nombre_usuario" value="{{ usuario.nombreUsuario }}" required>
            
            <button type="submit">Guardar Cambios</button>
        </form>

        <a href="{{ path('ver_perfil', { id: usuario.id }) }}" class="btn">Volver al Perfil</a>
    </div>
{% endblock %}

