{% extends 'base.html.twig' %}

{% block title %}Recuperar Contraseña{% endblock %}

{% block body %}
<h2>Recuperar Contraseña</h2>

{% if error %}
    <p style="color: red;">{{ error }}</p>
{% endif %}

{% if success %}
    <p style="color: green;">{{ success }}</p>
{% else %}
    <form method="POST" action="{{ path('procesar_recuperacion') }}">
        <label for="email">Introduce tu correo:</label>
        <input type="email" name="email" required>
        <button type="submit">Enviar</button>
    </form>
{% endif %}

<p><a href="{{ path('ctrl_login') }}">Volver al inicio de sesión</a></p>
{% endblock %}
