{% extends 'base.html.twig' %}

{% block title %}Restablecer Contrase침a{% endblock %}

{% block body %}
<h2>Restablecer Contrase침a</h2>

{% if error %}
    <p style="color: red;">{{ error }}</p>
{% endif %}

<form method="POST" action="{{ path('procesar_restablecimiento') }}">
    <input type="hidden" name="token" value="{{ token }}">
    <label for="password">Nueva Contrase침a:</label>
    <input type="password" name="password" required>
    <button type="submit">Restablecer</button>
</form>

<p><a href="{{ path('ctrl_login') }}">Volver al inicio de sesi칩n</a></p>
{% endblock %}
