
{% block title %}Usuarios - Red Social{% endblock %}

{% block body %}
    <h1>Lista de Usuarios</h1>

    <table border="1">
        <thead>
            <tr>
                <th>Nombre de Usuario</th>
                <th>Perfil</th>
            </tr>
        </thead>
        <tbody>
            {% for usuario in usuarios %}
                <tr>
                    <td>{{ usuario.nombreUsuario }}</td>
                    <td>
                        <a href="">Ver Perfil</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="2">No hay usuarios registrados.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
